*{
    margin: 0%;
}

header {
	background-color: #009245;
}

header .logo-contenedor {
	margin-left: 100px;
    padding: 10px;
}

header .menu-contenedor {
	display: flex;
	flex-direction: row;
}

header .menu{
    display: flex;
    align-items:center;
    padding-left: 800px;
}

header .menu a{
    padding: 25px;
}


 
