header
  .menu-contenedor
    .logo-contenedor
      img(src="/img/logo.png" width='80px' height='80px')
    .menu
      a(href='#')
        img(src="/img/lupa.png" width='25px' height='25px')
      a(href='#')
        img(src="/img/cart.png" width='25px' height='25px')
      a(href='#')
        img(src="/img/user.png" width='25px' height='25px')